<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<script src="orderPage.js" type="module" defer></script>
<body>
  <h1>주문페이지</h1>
  <div id="customer">
    <h2 id="add">배송지</h2>
    <table>
      <tbody>
        <tr id="name">
          <td>이름</td>
          <td>신승민</td>
        </tr>
        <tr id="email">
          <td>이메일</td>
          <td>skatks5971@naver.com</td>
        </tr>
        <tr id="phoneNumber">
          <td>전화번호</td>
          <td>010-5899-7935</td>
        </tr>
        <tr id="address">
          <td>배송주소</td>
          <td>대한민국</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <dl id="totalPrice">
      <dt>총 주문금액</dt>
    </dl>
  </div>
  </form>
</body>
</html>